name: 钉钉打卡提醒

on:
  schedule:
    # UTC时间 每天凌晨1点(北京时间早上9点)
    - cron: '30 3 * * 1-5'
  workflow_dispatch:

jobs:
  send-reminder:
    runs-on: ubuntu-latest
    steps:
      - name: 发送钉钉提醒
        env:
          DINGDING_TOKEN: ${{ secrets.DINGDING_TOKEN }}
        run: |
          curl -X POST \
            "https://oapi.dingtalk.com/robot/send?access_token=dffeb261416ff4843a35819f87a4576b861c1cfe7d7ca186305df14a4e04825f" \
            -H 'Content-Type: application/json' \
            -d '{
              "msgtype": "markdown",
              "markdown": {
                "title": "📢 工时打卡提醒",
                "text": "## 早上好！开始工作了吗？\n\n- 👷 请登录 [工时管理系统](http://192.168.0.79/timer/index.html) 开始计时打卡\n\n---\n> ⏰ 发送时间：定时自动发送"
              }
            }'
